/* button */
* { 
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: white;
}


.btn-wrapper {
  margin: 20% auto;
  padding: 20px;
  width: 70px;
  height: 70px;
  display: block;
  display: flex;


  position: relative;
  

  box-shadow: 0px 8px 8px -4px #b6b5b5;

  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: .1s;

  border-radius: 50px;
  background-color: black;
}

.btn-wrapper:hover {

  margin: 20% auto;
  padding: 20px;
  width: 170px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  border-radius: 50px;
  box-shadow: 0px 8px 8px 5px #b6b5b5;
  background-color: black;
  transition: 100ms ease-in 200ms;
}
  
.btn-wrapper img {
  width: 25px;
}

.btn-text {
  
  
  transition-property: all;
  transition-delay: .1s;
  transition-duration: 0.5s;
}

.btn-container:hover .btn-text {
 
  transition: 100ms ease-in 200ms;
  opacity: 0%;
 
  
}
