/* button */
* { 
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: white;
}


.btn-wrapper {
  margin: 20% auto;
  padding: 20px;
  width: 70px;
  height: 70px;
  display: block;

  position: relative;
  

  box-shadow: 0px 8px 8px -4px #b6b5b5;
  transition: 200ms ease-out 200ms;
  overflow: hidden;

  border-radius: 50%;
  background-color: black;
}

.btn-wrapper:hover {

  margin: 20% auto;
  padding: 20px;
  width: 170px;
  height: 70px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  
  border-radius: 50px;
  box-shadow: 0px 8px 8px 5px #b6b5b5;
  background-color: black;
  transition: 200ms ease-in 200ms;
}
  
.btn-wrapper img {
 
  width: 25px;
}

btn-container:hover .btn-txt {
  position: absolute;
  top: 22px;
  left: 60px;
  opacity: 1;
  transition: 900ms ease-in 200ms;
}
/* .btn-text {
  position: absolute;
  top: 50px;
  left: 60px;
  opacity: 0;
  transition: 200ms ease-in 200ms;
}

.btn-container:hover .btn-text {
  position: absolute;
  top: 22px;
  left: 60px;
  opacity: 1;
  transition: 200ms ease-in 200ms;
}
.btn-container:hover .btn-txt {
  position: absolute;
  top: 22px;
  left: 60px;
  opacity: 1;
  transition: 200ms ease-in 200ms;
} */