/* button */
* { 
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: white;
}

div {
  margin: 25%;
}


.btn-wrapper {
  margin: 0 auto;
  padding: 0;
  
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;

  overflow: hidden;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 8px -4px #b6b5b5;

  transition: box-shadow 200ms ease-out;
  background-color: black;
  color: white;
}

.btn-wrapper:hover {

  margin-left: -1em;
  margin-right: 1em;
  
  box-shadow: 0 0.5em 0.5em -0.2em rgba(129, 129, 129, 0.774);
}
  
img {
  margin: 20px;
  width: 25px;
  height: auto;
  align-self: center;
  display: inline-block;
  
}

.btn-text {
  
  margin: 0;
  width: 0;
  opacity: 0;
  transform: translateY(2em);
}

.btn-container:hover .btn-text {
  margin: 10px 10px 10px 0;
  width: auto;
  opacity: 1;
 
  transition: 100ms ease-in 200ms;
  transform: translateY(0);
 
}
